{% extends 'base.html' %}
{% block title %}Dashboard - Eprokesba{% endblock %}
{% load static %}

{% block content %}
<h1>Selamat Datang, {{ user.username }}!</h1>

<div class="cards">

  <div class="card">
    <h3>Total Produk</h3>
    <p>{{ total_produk }}</p>
  </div>

  <div class="card">
    <h3>Total Penjual</h3>
    <p>{{ total_penjual }}</p>
  </div>

  <div class="card">
    <h3>Total Pembeli</h3>
    <p>{{ total_pembeli }}</p>
  </div>

  <div class="card">
    <h3>Total Transaksi</h3>
    <p>{{ total_transaksi }}</p>
  </div>

</div>
{% endblock %}